{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Panier</h1>
    <table class="table table-bordered">
        <tr>
            <th>Nom du produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{item.produit.nom}}</td>
                <td>{{item.produit.prix}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.produit.prix}}</td>
                <td>
                    <a href="{{path('app_cart_produit_remove',{'id':item.produit.id})}}" class="text-danger text-decoration-none">Supprimer du panier</a>
                </td>
            </tr>
        {% else %}
            <p>Votre panier est vide</p>
        {% endfor %}
    </table><br>
    {% if total > 0 %}
        <h2>Total: {{total}} $</h2>
        <div class="row">
            <a href="" class="btn btn-primary col-2 m-lg-1">Valider la commande</a>
            <a href="{{path('app_cart_remove')}}" class="btn btn-outline-danger col-2 m-lg-1">Supprimer le panier</a>
        </div>
    {% endif %}

</div>
{% endblock %}
