{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container security-form">
    <div class="login-form">
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'attr':{'class':"form form-control", 'placeholder':"Ex: exemple@gmail.com"}}) }}
            {{ form_row(registrationForm.firstName, {'attr':{'class':"form form-control", 'placeholder':"Votre nom"}}) }}
            {{ form_row(registrationForm.lastName, {'attr':{'class':"form form-control", 'placeholder':"Votre prenom"}}) }}
            {{ form_row(registrationForm.plainPassword,{'attr':{'class':"form form-control", 'placeholder':"Votre mot de passe"}}) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
